﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/content/css/mycss.css" rel="stylesheet" />
</head>
<body>
    <div class="top_bar">
        <div class="main_bar">
            <div class="contract-left">
                <a><b>☏ 01355651635(HN) - 012645432612(TP.HCM)</b></a>
                <button>Liên hệ quảng cáo</button>
                <button>like</button>
                <button>Follow</button>
                <button>Youtube</button>
            </div>
            <div class="login_right">
                <button>Đăng kí</button>
                <button>Đăng nhập</button>
                <input placeholder="Tìm kiếm" />
            </div>
        </div>
    </div>
    <div class=" all">


        <div class="Logo_ads">
            <div class="logo">
                <img src="~/content/Image/Logo_Vnexpress.png">
            </div>
            <div class="ads1">
                <img src="~/content/Image/banner-ads-1.png">
            </div>
            <div class="ads2">
                <img src="~/content/Image/banner-ads-2.png">
            </div>
        </div>
        <div class="Listdanhmuc">
            <button style="border: 0; background-color: transparent;"><img src="Image/icon-home.png" width="10" height="10"> </button>|
            <button style="border: 0; background-color: transparent;">Thời sự</button>|
            <button style="border: 0; background-color: transparent;">Thế Giới</button>|
            <button style="border: 0; background-color: transparent;">Kinh Doanh</button>|
            <button style="border: 0; background-color: transparent;">Giải Trí</button>|
            <button style="border: 0; background-color: transparent;">Thể Thao</button>|
            <button style="border: 0; background-color: transparent;">Pháp Luật</button>|
            <button style="border: 0; background-color: transparent;">Giáo dục</button>|
            <button style="border: 0; background-color: transparent;">Sức Khỏe</button>|
            <button style="border: 0; background-color: transparent;">Gia Đình</button>|
            <button style="border: 0; background-color: transparent;">Du lịch</button>|
            <button style="border: 0; background-color: transparent;">Khoa học</button>|
            <button style="border: 0; background-color: transparent;">Số hóa</button>|
            <button style="border: 0; background-color: transparent;">Xe</button>|
            <button style="border: 0; background-color: transparent;">Cộng đồng</button>|
            <button style="border: 0; background-color: transparent;">Tâm sự</button>|
            <button style="border: 0; background-color: transparent;">Cười</button>|
            <button style="border: 0; background-color: transparent;">Video</button>|
            <button style="border: 0; background-color: transparent;">Rao vặt</button>|
        </div>
        <div class="content">
            <div class="main_content">
                <div class="rectangle-arrow">
                    Trang nhất
                </div>
                <div class="noidung">
                    <img src="~/content/Image/thumnails.png" width="600" height="400">
                    <h2>Trump và Clinton đối đầu nảy lửa trong tranh luận<br /> trực tiếp đầu tiên </h2>
                    <p>
                        Hai ứng viên chạy đua vào chức tổng thống Mỹ Clinton và Trump <br />tranh cãi nảy lửa trong hàng loạt vấn đề từ nhà đất, thương mại,<br /> đến cuộc chiến chống khủng bố....
                        <br />-Túi tiền tranh cử của bà Clinton nặng gấp đôi tỷ phú Trump
                    </p>
                </div>

            </div>
            <div class="side_main_content">
                <div>
                    <button class="logo_Inter" style="border: 0; background-color: transparent;"><img src="~/content/Image/logo_international.png" width="70" height="30"></button>
                    <p>
                        Đài Loan đóng cửa trường học vì<br /> bão Megi<br />
                        Những đứa trẻ sống vất véo trên dầm <br />cầu đã có chồn dung thân<br />
                        Tại sao các đôi hoàn hảo vẫn ly dị<br />
                        Ssangyong Korando. crossover giá <br />một tỷ tại Việt Nam<br />
                        Lỗ hồng IOS 10 giúp hacker giai mã <br />bản sao lưu dễ dàng<br />
                    </p>
                    <div class="rectangle-arrow1">
                        Góc nhìn
                    </div>
                    <h3>"Thất thủ' trước con mưa</h3>
                    <p>Hàng triệu người bất lực trước<br />  một cơn mưa,nay còn bởi điều gì khác?</p>
                </div>
            </div>
            <div class="ads_time">
                <div class="time">
                    <a>Thứ ba, 27/9/2016 </a>
                    <a> | </a>
                    <a> 09:16 GMT+7</a>
                    <button style="border: 0;"> 24h qua </button>
                    <button style="border: 0;"><b> RSS </b> </button>
                </div>
                <div class="ads">
                    <img src="~/content/Image/right-ads-1.png">
                    <img src="~/content/Image/right-ads-2.png">
                    <img src="~/content/Image/right-ads-3.png">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
