﻿
@{
    ViewBag.title = "Home-QuangCao";

    Layout = "~/Views/Shares/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
</head>
<body>
    <div>
        <h1>MeoMeoMeoMeo</h1>
    </div>
</body>
</html>
