﻿* {
    box-sizing: border-box;
}

body .top_bar {
    background-color: lightgrey;
}

    body .top_bar .main_bar {
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }

        body .top_bar .main_bar .contact_left {
            flex-grow: 3;
            display: flex;
            justify-content: flex-start;
            gap: 10px;
        }

        body .top_bar .main_bar .login_right {
            flex-grow: 2;
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }

body .Logo_ads {
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}

    body .Logo_ads.logo {
        flex-grow: 2;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
    }

    body .Logo_ads.ads1 {
        flex-grow: 4;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
    }

    body .Logo_ads.ads2 {
        flex-grow: 4;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
    }

body .Listdanhmuc {
    border: none;
    background-color: transparent;
    display: flex;
    column-gap: 9px;
}

body .content {
    display: flex;
}

body .main_content {
}

body .side_main_content {
    margin-left: 10px;
    flex-grow: 2;
    display: flex;
    gap: 10px;
}

body .ads_time {
    display: flex;
    margin-right: 90px;
    flex-direction: column;
    gap: 10px;
}

body .time {
    display: flex;
    margin: auto;
}

body .ads {
    display: flex;
    width: 120%;
    height: 120%;
    flex-direction: column;
}

body .rectangle-arrow {
    position: relative;
    width: 150px;
    height: 40px;
    background-color: #dddddd; /* Màu nền trắng */
    color: #ff0000; /* Màu chữ đỏ */
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

    body .rectangle-arrow::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -20px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #ffffff; /* Màu nền trắng */
        transform: translateY(-50%);
    }

h2 {
    color: red;
}



p {
    font-size: 20px;
}

body .rectangle-arrow1 {
    position: static;
    width: 150px;
    height: 40px;
    background-color: #dddddd; /* Màu nền trắng */
    color: #ff0000; /* Màu chữ đỏ */
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

    body .rectangle-arrow1::before {
        content: "";
        position: absolute;
        top: 30%;
        left: -20px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #ffffff; /* Màu nền trắng */
        transform: translateY(-50%);
    }

h2 {
    color: red;
}

.logo_Inter {
    margin-left: 225px;
}

.all {
    width: 100%;
    margin: auto;
}
